{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
<div class="login_bg">
    <div class="w-50 mx-auto py-5">
        <h3>Change password</h3>
        {{ form_start(form)}}
        {{ form_widget(form) }}
        <br>
        <button class="btn blue-button" type="submit">Change</button>
        {{ form_end(form)}}
    </div>
</div>
{% endblock %}