{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}

    <div class="w-50 mx-auto pt-4">
        <h3>Change password</h3>
        {{ form_start(form)}}
        {{ form_widget(form) }}
        <br>
        <button class="btn btn-primary" type="submit">Change</button>
        {{ form_end(form)}}
    </div>

{% endblock %}