{% extends 'base.html.twig' %}

{% block title %}I forgot my password{% endblock %}

{% block body %}

    <div class="w-50 mx-auto mt-5">
        <form method="post" action="{{ path('app_forgot_password_send_mail') }}">
            <h2>Send us request for changing your password!</h2>
            <p>You will get an email with link to be able to change it!</p>
            <div class="form-group">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email">
            </div>
                <br>
            <button type="submit" class="btn btn-primary">Send!</button>
        </form>
    </div>

{% endblock %}