{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{#{%  block stylesheets %} {{ encore_entry_link_tags('')}} {% endblock %}#}

{% block body %}

    <div >
        <img src="{{ asset('build/images/home-bg.png') }}" alt="home_background">
    </div>


{% endblock %}