{% extends 'base.html.twig' %}

{% block title %}Create your salon!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="plant-bg plant-height">
        <div class="example-wrapper">
            <h3>Are you owner of a Hair Salon? Let us help you get clients!</h3>

            {{ form_start(salonCreateForm) }}
            {{ form_widget(salonCreateForm) }}
            <br>
            <button type="submit" class="btn blue-button">Send!</button>
            {{ form_end(salonCreateForm) }}
        </div>
    </div>

{% endblock %}
