{% extends 'base.html.twig' %}

{% block title %}All Salons{% endblock %}

{% block body %}

<div class="">
    {% for salon in salons %}
        <h2>{{ salon.getName }}</h2>
        <p>{{ salon.description }}</p>
        <img src="{{salon.imagePath }}" alt="img">
    {% endfor %}
</div>
{% endblock %}
