{% apply inline_css(source('@styles/email.css')) %}
    <div class="all">
        <h2>Hi! You have one canceled appointment.</h2>
        <p>
            Customer {{ user }} has canceled your appointment on {{ date|date('d.m. H:i') }}.
        </p>
        <hr>
        <div class="signature">
            <img src="{{ email.image('@images/footer-logo.png') }}" alt="">
            <div>
                Best regards,<br>
                HairSalons Team by Sara and Ivona
            </div>
        </div>
    </div>
{% endapply %}