{% extends 'base.html.twig' %}

{% block title %}Hairdresser dashboard{% endblock %}

{% block body %}
    <div class="plant-bg">
        <h1>Hairdressers dashboard</h1>
        <div class="owner-links">

        </div>
    </div>
{% endblock %}