{% block field %}
    {% if object.hairdresser is not empty %}
    <table class="table">
        {% for h in object.hairdresser %}
            <tr>
                <th>{{ h.user }}
                    <br>
                    {{ h.isActive ? '<span class="label label-success">active</span>' : '<span class="label label-danger">not active</span>' }}
                </th>
                <td>{{ h.biography }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <p style="padding-left: 25px;">No data.</p>
    {% endif %}
{% endblock %}