{% apply inline_css(source('@styles/email.css')) %}
    <div class="all">
        <h2>Hi, {{ owner }}!</h2>
        <p>
            Your salon {{ salon_name }} has been looked up by our admin, and it is activated now.<br>
            You can log in and add your work time and services that you provide.
        </p>
        <p>
            Thank you for signing in to our community!<br>
            We wish you all the best!
        </p>
        <hr>
        <div class="signature">
            <img src="{{ email.image('@images/footer-logo.png') }}" alt="">
            <div>
                Best regards,<br>
                HairSalons Team by Sara and Ivona
            </div>
        </div>
    </div>
{% endapply %}