<h1>Hi, {{ owner }}!</h1>

<div>
    Your salon {{ salon_name }} has been looked up by our admin, and it is activated now.<br>
    You can log in and add your work time and services that you provide.
</div>

<div>
    Thank you for signing in to our community!<br>
    We wish you all the best!
</div>

<hr>

<div style="font-weight: bold">
    Best regards,<br>
    HairSalons Team by Sara and Ivona
</div>