body {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #F5F5F5;
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #111;
}

/*footer*/
footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
    color: #F5F5F5;
    font-weight: 400;
}
