body {
    font-family: 'PT Sans Narrow', sans-serif;
}

/*scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #111;
}
.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.blue-button {
    background-color: #fff;
    color: #417475;
    margin: 20px 0;
    width: 100%;
}
.transparent-header {
    background-color: transparent;
}
.transparent-header .navbar-links li a {
    color: #ffffff;
}
.transparent-header h2{
    color: #ffffff;
}
.transparent-header img {
    filter: invert(1);
}
.transparent-header .dropdown-item{
    color: #000 !important;
}
.colored-header {
    background-color: #75BBBF;
}
.blue-button:hover{
    background-color: #417475;
    color: #fff;
}
.navbar-links {
    display: flex;
    flex-direction: row;
}
.navbar-links li{
    font-size: 20px;
    padding-left: 15px;
}
.navbar-links li a {
    color: #000;
}
.logo img {
    height: 45px;
}
.logo {
    display: flex;
}
.logo .logo-text {
    margin: auto;
    font-weight: bold;
    font-size: 35px;
    padding-left: 10px;
}
.footer-logo img {
    height: 45px;
}
.footer-logo {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
}
.footer-logo .logo-text{
    font-weight: bold;
    font-size: 35px;
    padding-left: 10px;
}
.footer-logo-wrapper {
    display: flex;
}

/*footer*/
footer {
}
footer ul {
    padding: 0;
}
footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
    font-weight: 400;
    color: white;
    display: flex;
    width: fit-content;
}
footer a img {
    width: 20px;
    height: 20px;
    margin-top: 4px;
}
footer a:hover {
    filter: invert(64%) sepia(55%) saturate(261%) hue-rotate(132deg) brightness(82%) contrast(84%);
}
footer a p {
    padding-left: 10px;
}
footer a:hover {
    color: #75BBBF;
}
footer h5 {
    font-size: 20px;
}
.footer-image img {
    height: 100%;
    float: right;
}
.footer-wrapper {
    display: grid;
    grid-template-columns: 25% 20% 20% 35%;
}
.developed {
    display: flex;
    align-items: end;
}
.image-container {
    position: relative;
    height: 600px;
}
.banner {
    z-index: -1;
    position: relative;
    height: 600px;
    margin-bottom: 60px;
}
.care {
    position: absolute;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: fit-content;
    height: 100px;
    transform: skew(20deg);
    background: #75BBBF;
    padding: 8px 30px;
}
.care h1 {
    color: #fff;
    font-size: 60px;
}
.banner::before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 49%;
    top: 72%;
    background: #ffffff80;
    clip-path: polygon(0 100%,0 0,100% 100%);
}
.banner::after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 15%;
    right: 0;
    top: 66%;
    background: #ffffff4d;
    clip-path: polygon(0 100%,100% 0,100% 100%);
}
.image-container::after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 47%;
    right: 0;
    height: 65px;
    background: #fff;
    clip-path: polygon(0 100%,100% 0,100% 100%);
}

.image-container::before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 47%;
    height: 65px;
    background: #fff;
    clip-path: polygon(0 100%,0 0,100% 100%);
}
.home-image {
    position:absolute;
    width: 100%;
    clip: rect(0, 300vh, 600px, 0);
}
h1 {
    text-align: center;
    font-weight: bold;
}
.rate .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rate .title img {
    width: 100px;
}

.login_bg{
    background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)) ,url("../images/login_bg.jpg") center no-repeat ;
    background-size: cover;
    color: white;
    height: 100vh;
}
.searchCity{
    padding: 20px;
    background: rgba(195, 198, 198, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}
.login-form {
    padding-top: 120px;
}
.plant-bg {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.65)) ,url("../images/owner_bg.jpg") center no-repeat ;
    background-size: cover;
    height: 100vh;
    padding: 100px 0;
}
.plant-height {
    height: fit-content;
}
.plant-bg h1 {
    color: #75BBBF;
    font-size: 60px;
}
.owner-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.owner-links a:hover {
    color: #75BBBF;
    font-size: 32px;
}
.example-wrapper {
    color: #fff;
}
.example-wrapper h3 {
    text-align: center;
    color: #75BBBF;
    font-size: 52px;
}
.services-table {
    color: #fff;
}
.salon {
    color: #fff;
}
.modal-content {
    color: #000;
}
.modal-content a {
    text-decoration: none;
    color: #fff;
}
.salon-card {
    background-color: rgba(255,255,255,0.7);
}
.one-salon-card {
    background-color: rgba(255,255,255,0.8);
    padding: 30px;
}
.working-hours-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.working-hours-form div {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 2px 10px;
}
.working-hours-form button {
    width: 50%;
}
h3 {
    text-align: center;
}
.alert {
    position: absolute;
    width: 100%;
    top: 60px;
}

textarea {
    height: 200px;
}

@media only screen and (max-width: 990px){
    .footer-image {
        display: none;
    }
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .developed {
        margin: auto;
    }
}
