{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}
    <div class="plant-bg">
        <h1>About Us</h1>

        <div class="about-us">
            <h2>Discover The Top Hair Salons In Your Area</h2>
            <h5>Hair salons</h5>
            <p>Whether you’re wanting to get a simple trim or a dramatic color change or something in between, the best place to look for hair care treatments is none other than a hair salon. Cut and color treatments are the bread and butter of hair salons across the globe, but apart from standard coloring, highlights, and haircuts, you’ll also find that most hair salons offer services like blowouts, deep conditioning, hot oil and keratin treatments, extensions, perms, and styling. Refresh your tresses by browsing your options in the hair salon category, which will lead you to hair-focused beauty salons nearby.</p>
            <h5>Barbershops</h5>
            <p>Similar to hair salons, barbershops likewise specialize in hair cutting and coloring services, with the difference being that barbers are typically trained to cut shorter hairstyles which are usually tailored to boys and men. A barbershop is the perfect place to go to get a haircut or a hair coloring service—but also a whole lot more! For instance, beard shaping, beard dye, shaves, and even skincare services are just a few of the treatment types you might find at your local barbershop. If that sounds like what you’re looking for, you can discover this variety of beauty salons open nearby within the barbershop category.</p>
        </div>
    </div>
{% endblock %}