{% extends 'base.html.twig' %}

{% block title %}Salon owner dashboard{% endblock %}

{% block body %}
    <div class="plant-bg">
        <h1>{{ salon.name }}</h1>
        <div class="owner-links">
            <a class="nav-link" href="{{ path('app_salon_services', {id: user.id, salon_id: salon.id }) }}">Salon services</a>

            <a class="nav-link" href="{{ path('app_owner_salon_show', {id: user.id, salon_id: salon.id }) }}">My salon</a>
        </div>
    </div>
{% endblock %}