{% extends 'base.html.twig' %}

{% block title %}Salon owner dashboard{% endblock %}

{% block body %}
    <div class="plant-bg salon  plant-height">
        <div class="m-auto">
            <h1>{{ salon.name }}</h1>
            <h3>Working hours</h3>
            <div>
                {{ form_start(form, {'attr' : {'class': 'working-hours-form'}})}}

                {{ form_widget(form) }}
                <button class="btn blue-button" type="submit">Update</button>
                {{ form_end(form)}}
            </div>
        </div>
    </div>

{% endblock %}